<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <h1>New Chat</h1>
    <div class="form">
        <form method="POST" action="/chats">
            <p>From :<input name="from" placeholder="Who are you"></p>
            <p>Message : <textarea name="msg">Write your message here..</textarea></p>
            <p>To :<input name="to" placeholder="Write reciver name"></p>
            <button>Create Chat</button>
        </form>
    </div>
</body>
</html>